---
layout: archive
title: "Presentations"
permalink: /presentations/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% if site.presentation_category %}
  {% for category in site.presentation_category %}
    {% assign title_shown = false %}
    {% for post in site.presentations reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-talk.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.presentations reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
